#newcontent {
	display: block;
}
.CodeMirror {
	border: 1px solid #DFDFDF;
	background-color: white;
	margin: 8px 0;
	height: calc(~"100vh - 340px");
}
#template .CodeMirror {
	margin-right: 30px;
	div {
		margin-right: 0;
	}
}
#templateside {
	@media (min-width:783px) {
		height: calc(~"100vh - 220px");
	}
    overflow: auto;
	.main-file > a {
		font-weight: bold;
	}
	.sns-folders-list {
		.tog-folder:before {
			content: '+';
			display: inline-block;
			border: 1px solid;
			margin-left: -12px;
			width: 14px;
			text-align: center;
			margin-right: 6px;
		}
		ul {
			border-left: 1px dashed;
			padding-left: 5px;
			margin-left: 5px;
			display: none;
		}
		.open {
			> .tog-folder:before {
			content: '-';
			}
			> ul{
				display: block;
			}
		}
	}
}