/* MetaBox.css */

.CodeMirror {
	border: 1px solid #DFDFDF;
	background-color: white;
	border-radius: 3px;
	margin: 8px 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	overflow: hidden;
}
.CodeMirror, #editorcontainer #content {
	font-family: "Courier New", Courier, monospace;
}
.CodeMirror-scroll {
	height: auto;
	min-height: 50px;
	max-height: 300px;
	overflow: auto;
}

/*
 * 
 */

#SnS_meta_box .inside {
	height: 200px;
	overflow: auto;
	padding: 6px 10px 8px;
	margin: 0;
}
body.js #SnS_meta_box .inside {
	height: auto;
	padding: 0 10px;
	margin: 6px 0 8px;
}
body.js #SnS_meta_box .wp-tab-bar { display: block; }

		#SnS_meta_box .wp-tab-bar { display: none;  }
body.js #SnS_meta_box .wp-tab-bar { display: block; }

#SnS_meta_box .wp-tab-bar {
	text-align: right;
	overflow: auto;
	width: 100%;
	margin-bottom: -1px;
}
#SnS_meta_box .wp-tab-bar li {
	float: left;
	background-color: inherit;
	border: 0 none;
	margin: 0;
	padding: 0;
	display: inline;
}
#SnS_meta_box .wp-tab-bar a {
	display: block;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 1px solid transparent;
	border-bottom: 0px none;
	padding: 3px 5px 5px;
	margin-right: 3px;
	text-decoration: none;
}
#SnS_meta_box .wp-tab-active a {
	background-color: #FFFFFF;
	border-color: #DFDFDF;
}

#normal-sortables   #SnS_meta_box .wp-tab-bar,
#advanced-sortables #SnS_meta_box .wp-tab-bar {
	float: left;
	margin: 0 -120px 0 5px;
	padding: 0;
	text-align: right;
	width: 120px;
}

/*
 * .wp-tab-panel rules
 */
body.js #SnS_meta_box .wp-tab-panel { display: none; }
#SnS_meta_box .wp-tabs-panel-active { display: block; }

		#SnS_meta_box .wp-tab-panel { margin-bottom: 1em; }
body.js #SnS_meta_box .wp-tab-panel { margin-bottom: 0; }

#SnS_meta_box .wp-tab-panel {
	margin-bottom: 1em;
}
#SnS_meta_box .wp-tab-panel {
	border-style: solid;
	border-width: 1px;
	overflow: auto;
	padding: 0.5em 0.9em;
	min-height: 200px;
	height: auto;
}
body.js #normal-sortables   #SnS_meta_box .wp-tab-panel,
body.js #advanced-sortables #SnS_meta_box .wp-tab-panel {
	margin-left: 125px;
	margin-right: 5px;
}


/* one column on the post write/edit screen */
@media only screen and (max-width: 1050px) {
	#normal-sortables   #SnS_meta_box .wp-tab-bar,
	#advanced-sortables #SnS_meta_box .wp-tab-bar {
		float: none;
		margin: 12px 0 -1px;
		width: 100%;
	}
	body.js #normal-sortables   #SnS_meta_box .wp-tab-panel,
	body.js #advanced-sortables #SnS_meta_box .wp-tab-panel {
		margin: 0;
	}
}