/* MetaBox.css */
.CodeMirror {
  border: 1px solid #DFDFDF;
  background-color: white;
  border-radius: 3px;
  margin: 8px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}
.style > .CodeMirror:before,
.less > .CodeMirror:before,
.style > .CodeMirror:after,
.less > .CodeMirror:after {
  display: block;
  padding: .5em;
  background-color: #f5f5f5;
}
.style > .CodeMirror:before,
.less > .CodeMirror:before {
  border-botto: 1px solid #dfdfdf;
  content: '<style type="text/css">';
}
.style > .CodeMirror:after,
.less > .CodeMirror:after {
  border-top: 1px solid #dfdfdf;
  content: "</style>";
}
.script > .CodeMirror:before,
.coffee > .CodeMirror:before,
.script > .CodeMirror:after,
.coffee > .CodeMirror:after {
  display: block;
  padding: .5em;
  background-color: #f5f5f5;
}
.script > .CodeMirror:before,
.coffee > .CodeMirror:before {
  border-botto: 1px solid #dfdfdf;
  content: '<script type="text/javascript">';
}
.script > .CodeMirror:after,
.coffee > .CodeMirror:after {
  border-top: 1px solid #dfdfdf;
  content: "</script>";
}
.html > .CodeMirror:before,
.html > .CodeMirror:after {
  display: block;
  padding: .5em;
  background-color: #f5f5f5;
}
.html > .CodeMirror:before {
  border-botto: 1px solid #dfdfdf;
  content: '<html>...<body>...';
}
.html > .CodeMirror:after {
  border-top: 1px solid #dfdfdf;
  content: "...</body></html>";
}
/* over-writes. */
.head-style > .CodeMirror:after {
  content: "</style> </head>";
}
.head-script > .CodeMirror:after {
  content: "</script> </head>";
}
.body-script > .CodeMirror:after {
  content: "</script> </body>";
}
.CodeMirror,
#editorcontainer #content {
  font-family: "Courier New", Courier, monospace;
}
.CodeMirror-scroll {
  height: auto;
  min-height: 50px;
  max-height: 300px;
  overflow: auto;
}
.sns-shortcode p {
  margin: 0;
}
.sns-collapsed-shortcode {
  overflow: hidden;
}
.sns-collapsed-shortcode .sns-collapsed-shortcode-btn {
  background-position: 1px -107px;
}
.sns-collapsed-shortcode-btn {
  cursor: pointer;
  float: left;
  height: 1.4em;
  width: 1.4em;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: 1px 1px;
  margin-right: .5em;
}
.sns-collapsed-shortcode .CodeMirror,
.sns-collapsed-shortcode .sns-ajax-wrap {
  visibility: hidden;
  position: absolute;
}
#add-mce-dropdown-names label {
  width: 50px;
  display: inline-block;
}
.sns-ajax-loading {
  vertical-align: middle;
}
.sns-ajax-wrap {
  height: 23px;
}
#sns-classes {
  overflow: hidden;
  width: 100%;
}
#SnS_classes_mce_wrapper {
  margin: 6px 0;
}
#mce-dropdown-names {
  display: none;
}
body.js #mce-dropdown-names {
  display: block;
}
#delete-mce-dropdown-names .sns-ajax-delete {
  cursor: pointer;
  display: inline-block;
  height: 10px;
  overflow: hidden;
  text-indent: -9999px;
  width: 10px;
  background: url("/wp-admin/images/xit.gif") no-repeat scroll 0 0 transparent;
}
#delete-mce-dropdown-names .sns-ajax-delete:hover {
  background: url("/wp-admin/images/xit.gif") no-repeat scroll -10px 0 transparent;
}
body.js #SnS_meta_box .title {
  display: none;
}
#SnS_meta_box > .inside {
  height: 300px;
  overflow: auto;
  padding: 6px 10px 8px;
  margin: 0;
  position: static;
}
body.no-js #side-sortables #SnS_meta_box > .inside {
  margin-top: 33px;
  padding-top: 0;
}
body.js #SnS_meta_box > .inside {
  height: auto;
  padding: 0 10px;
  margin: 6px 0 8px;
}
body.no-js #SnS_meta_box .wp-tab-bar {
  position: absolute;
  top: 36px;
}
#SnS_meta_box .wp-tab-bar {
  text-align: right;
  overflow: auto;
  width: 100%;
  padding: 0;
  margin-top: 3px;
  margin-bottom: -1px;
}
#SnS_meta_box .wp-tab-bar li {
  float: left;
  background-color: inherit;
  border: 0 none;
  margin: 0;
  padding: 0;
  display: inline;
}
#SnS_meta_box .wp-tab-bar a {
  display: block;
  border-radius: 3px 3px 0 0;
  border-style: none;
  border-width: 1px 1px 0 1px;
  padding: 3px 5px 5px;
  margin-right: 3px;
  text-decoration: none;
}
#SnS_meta_box .wp-tab-active a {
  background-color: #FFFFFF;
  border-color: #DFDFDF;
  border-style: solid;
  margin-bottom: -1px;
}
/*
* .wp-tab-panel rules
*/
body.js #SnS_meta_box .wp-tab-panel {
  display: none;
}
body.js #SnS_meta_box .wp-tabs-panel-active {
  display: block;
}
body.no-js #SnS_meta_box .wp-tab-panel {
  margin-bottom: 1em;
}
body.js #SnS_meta_box .wp-tab-panel {
  margin-bottom: 0;
}
#SnS_meta_box .wp-tab-panel {
  border-style: solid;
  border-width: 1px;
  overflow: auto;
  padding: 0.5em 0.9em;
  min-height: 200px;
  height: auto;
}
/* See @media */
#normal-sortables #SnS_meta_box .wp-tab-bar,
#advanced-sortables #SnS_meta_box .wp-tab-bar {
  float: left;
  margin: 0 -1px 0 5px;
  width: 121px;
  overflow: visible;
}
#normal-sortables #SnS_meta_box .wp-tab-panel,
#advanced-sortables #SnS_meta_box .wp-tab-panel {
  margin-left: 125px;
  margin-right: 5px;
}
#normal-sortables #SnS_meta_box .wp-tab-bar a,
#advanced-sortables #SnS_meta_box .wp-tab-bar a {
  padding: 8px;
  width: 104px;
}
#normal-sortables #SnS_meta_box .wp-tab-active a,
#advanced-sortables #SnS_meta_box .wp-tab-active a {
  border-radius: 3px 0 0 3px;
  border-style: solid none solid solid;
  border-width: 1px 0 1px 1px;
  margin-right: -1px;
  font-weight: bold;
}
@media only screen and (max-width: 1050px) {
  body.no-js #SnS_meta_box > .inside {
    margin-top: 33px;
    padding-top: 0;
  }
  #normal-sortables #SnS_meta_box .wp-tab-bar,
  #advanced-sortables #SnS_meta_box .wp-tab-bar {
    float: none;
    margin: 3px 0 -1px;
    width: 100%;
    overflow: hidden;
  }
  #normal-sortables #SnS_meta_box .wp-tab-panel,
  #advanced-sortables #SnS_meta_box .wp-tab-panel {
    margin: 0 0 1em;
  }
  body.js #normal-sortables #SnS_meta_box .wp-tab-panel,
  body.js #advanced-sortables #SnS_meta_box .wp-tab-panel {
    margin: 0;
  }
  #normal-sortables #SnS_meta_box .wp-tab-bar a,
  #advanced-sortables #SnS_meta_box .wp-tab-bar a {
    padding: 3px 5px 5px;
    width: auto;
  }
  #normal-sortables #SnS_meta_box .wp-tab-active a,
  #advanced-sortables #SnS_meta_box .wp-tab-active a {
    border-radius: 3px 3px 0 0;
    border-style: solid solid none solid;
    border-width: 1px 1px 0 1px;
    margin-right: 3px;
    font-weight: normal;
  }
}
