/* MetaBox.css */


.wp-tab-bar {
	display: none;
}
body.js .wp-tab-bar {
	display: block;
}
#uFp_meta_box .title {
	margin-top: 1.5em;
}
body.js #uFp_meta_box .title,
body.js .wp-tab-panel {
	display: none;
}
body.js .wp-tabs-panel-active {
	display: block;
}

.CodeMirror {
	border: 1px solid #DFDFDF;
	background-color: white;
	border-radius: 3px;
	margin: 8px 0;
}
.CodeMirror, #editorcontainer #content {
	font-family: "Courier New", Courier, monospace;
}
.CodeMirror-scroll {
	height: auto;
	min-height: 50px;
	max-height: 300px;
	overflow: auto;
}

/* temp fix border-bottom rounding error problem. 
#side-sortables .wp-tab-bar {
	margin-bottom: 0px;
	min-height: 19px;
}*/

/* core styles */
#post-body .wp-tab-bar a {
	text-decoration: underline;
}
#post-body .wp-tab-bar {
	float: left;
	margin: 0 -120px 0 5px;
	padding: 0;
	text-align: right;
	width: 120px;
}
#post-body .wp-tab-bar li {
	padding: 8px;
	display: list-item;
}
#post-body .wp-tab-active {
	border-radius: 3px 0 0 3px;
	border-style: solid none solid solid;
	border-width: 1px 0 1px 1px;
	margin-right: -1px;
}
#post-body .wp-tab-active a {
	font-weight: bold;
	text-decoration: none;
}
#post-body .wp-tab-panel {
	margin: 0 5px 0 125px;
	border-style: solid;
	border-width: 1px;
	height: 200px;
	overflow: auto;
	padding: 0.5em 0.9em;
}
/* end core styles */

#post-body #uFp_meta_box .wp-tab-bar li {
	padding: 0px;
}
#post-body #uFp_meta_box .wp-tab-bar a {
	padding: 8px;
	display: block;
}
#uFp_meta_box .wp-tab-panel {
	height: auto;
	min-height: 200px;
}

#add-mce-dropdown-names label {
	width: 50px;
	display: inline-block
}
.sns-ajax-loading {
	vertical-align: middle;
}
.sns-ajax-wrap {
	height: 23px;
}
#sns-classes {
	overflow: hidden;
	width: 100%;
}
#sns-classes-ajax {
}
#uFp_classes_mce_wrapper {
	margin: 6px 0;
}
#delete-mce-dropdown-names,
#add-mce-dropdown-names {
	width: 40%;
	float: left;
	margin-right: 10%;
}
#mce-dropdown-names {
	display: none;
}
body.js #mce-dropdown-names {
	display: block;
}
#delete-mce-dropdown-names .sns-ajax-delete {
	cursor: pointer;
	display: inline-block;
	height: 10px;
	overflow: hidden;
	text-indent: -9999px;
	width: 10px;
	background: url("/wp-admin/images/xit.gif") no-repeat scroll 0 0 transparent;
}
#delete-mce-dropdown-names .sns-ajax-delete:hover {
	background: url("/wp-admin/images/xit.gif") no-repeat scroll -10px 0 transparent;
}