/* Options.css */

textarea.code {
	display: block;
}
.CodeMirror {
	border: 1px solid #DFDFDF;
	background-color: white;
	border-radius: 3px;
	margin: 8px 0;
}
.CodeMirror-scroll {
	height: auto;
	min-height: 50px;
	max-height: 300px;
	overflow: auto;
}
#icon-Scripts-n-Styles {
	background: no-repeat center url('//0.gravatar.com/avatar/e8c50274eb82cb03745385ba37fc6a79?s=34&d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&r=G')
}