/* Options.css */

textarea.code {
	display: block;
}
.CodeMirror {
	border: 1px solid #DFDFDF;
	background-color: white;
	border-radius: 3px;
	margin: 8px 0 6px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	overflow: hidden;
	font-family: "Courier New", Courier, monospace;
}

/* Code Decorations */
.style > .CodeMirror:before,
.style > .CodeMirror:after {
  display: block;
  padding: .5em;
  background-color: #f5f5f5;
}
.style > .CodeMirror:before {
  border-bottom: 1px solid #dfdfdf;
}
.style > .CodeMirror:after {
  border-top: 1px solid #dfdfdf;
}
.style > .CodeMirror:before {
  content: '<style type="text/css">';
}
.style > .CodeMirror:after {
  content: '</style>';
}
.script > .CodeMirror:before,
.script > .CodeMirror:after {
  display: block;
  padding: .5em;
  background-color: #f5f5f5;
}
.script > .CodeMirror:before {
  border-bottom: 1px solid #dfdfdf;
}
.script > .CodeMirror:after {
  border-top: 1px solid #dfdfdf;
}
.script > .CodeMirror:before {
  content: '<script type="text/javascript">';
}
.script > .CodeMirror:after {
  content: '</script>';
}
.less > .CodeMirror:before,
.less > .CodeMirror:after {
  display: block;
  padding: .5em;
  background-color: #f5f5f5;
}
.less > .CodeMirror:before {
  border-bottom: 1px solid #dfdfdf;
}
.less > .CodeMirror:after {
  border-top: 1px solid #dfdfdf;
}
.less > .CodeMirror:before {
  content: '<style type="text/less">';
}
.less > .CodeMirror:after {
  content: '</style>';
}
.coffee > .CodeMirror:before,
.coffee > .CodeMirror:after {
  display: block;
  padding: .5em;
  background-color: #f5f5f5;
}
.coffee > .CodeMirror:before {
  border-bottom: 1px solid #dfdfdf;
}
.coffee > .CodeMirror:after {
  border-top: 1px solid #dfdfdf;
}
.coffee > .CodeMirror:before {
  content: '<script type="text/coffeescript">';
}
.coffee > .CodeMirror:after {
  content: '</script>';
}
/* end Code Decorations */


body .CodeMirror-scroll {
	height: auto;
	min-height: 50px;
	max-height: 300px;
	overflow: auto;
}
.scripts-n-styles_page_sns_theme .CodeMirror-scroll {
	max-height: none;
}
#icon-sns {
	background: no-repeat center url('../images/icon32.png');
}

.sns-less-ide .disabled {
	cursor: default;
}
.sns-less-ide .inside {
	margin: 6px 0;
	padding: 0 10px;
	line-height: 1.4em;
}
.sns-collapsed {
	overflow: hidden;
}
.sns-collapsed .sns-collapsed-btn {
	background-position: 1px -107px;
}
.sns-collapsed-btn + label,
.sns-collapsed-btn + p {
	height: 1.4em;
	display: block;
	margin: 0;
}
.sns-collapsed-btn {
	cursor: pointer;
	float: left;
	height: 1.4em;
	width: 1.4em;
	background-image: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0F%00%00%00%7B%08%06%00%00%00%ABe%DA%9D%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%01%90IDATx%DA%EC%991N%C3%40%10E%D7%40%1D%A4(G%A0%A2%A0%E2%06Q%90%DB%5C%02%09%AA%F4%A1%8C%7BW%20%E5%10P%DA%22%E2%06%AERP%E5%08%08)%F4%D6%F2G%FA%C5j%E5%F5%AEM%81%10%B3%D2%D7%EC%3A~%1E%7Bci%BE%C6%99%B5%D6%8C%1D'%E6%07%E3%8F%C2g%FE%81%BA%AE%1B%84%0B.'%D0%17%E7%87%3C%CF%AFc%99%0B%E8%9C%CA%9Cy%E1%9F%98u%FDU%C8%FE%8A%B0p%0E%ED%90%F5%26%F5%99WP%CBy%CBu%DA%86!%CB%3B%C2%96%CB-%D7%83v%FB%01%B2%8C%DDC%9E9%A4%AA%AA%E6%7D%BFg%FAn%2B%AC%B0%C2%0A%2B%FC%CB0%EA%F4%BC%EF%F7%60%AD%028E%F8%80f(%B1%9FC3oh%2B6%832%23%EB%25%C2%1E%3A%A53%B8%EA*%F0%A1%CC%25A%C3X%26%DD6%B2.%3D3%23c%C1%E3%D1%CCk%E8HYg%BEN%DEm%7D%B7%15VXa%85%15V8v%82%D4e%B6%3F%E2%7D%12%CFZ%94%2C%F4%C7%D4%26%CB%94%26%E6%D6%B1%16%F1%0E%0D%7D%D7%8E.%C8%1D%93%E83%C3%F1%BC%89%EF%82%9E%9C%3E%89qZ%3C%FD%1B%26%86%0D%BA%17%FB%C4%BB0%A3Z%1Dlw%2C%A1F%5B%1D%0A%2B%AC%B0%C2%0A%2B%CC%22%DFt%F5%08R3%CB%B7%9Bg%F9%92Bo2%EA%B6%C5%CC%ECq%81Gz%95%24%D8%F5%20bj%EE%A4%D5%E3%F7%8AB%B0%EBAZz%94%19%3DK%DC%87q%88'Y%85%BE%DD%84%E0%03T%00z%E9%BB%F2%7F%F4%24%DF%02%0C%00%C9H%D9%18%7B.%E6%93%00%00%00%00IEND%AEB%60%82");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	margin-right: .5em;

}

.sns-collapsed .CodeMirror,
.sns-collapsed .code,
.sns-collapsed .sns-ajax-wrap,
.sns-collapsed textarea {
	visibility: hidden;
	position: absolute;
}

.sns-ajax-loading {
	display: none;
	vertical-align: top;
}
.sns-ajax-loading .spinner {
	float: none;
}
.sns-ajax-wrap {
	height: 23px;
}
.sns-ajax-wrap .single-status {
	display: inline-block;
	vertical-align: middle
}
.sns-ajax-wrap .single-status .settings-error {
	margin: 0;
}

.sns-shortcode {
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top , #F9F9F9, #F5F5F5);
	border-color: #DFDFDF;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 0 #FFFFFF inset;
	border-style: solid;
	border-width: 1px;
	line-height: 1;
	margin-bottom: 20px;
	padding: 0;
}
.sns-shortcode .inside {
	margin: 6px 0 8px;
	position: relative;
	line-height: 1.4em;
	padding: 0 10px;
}