[submodule "libraries/less"]
	path = libraries/less
	url = https://github.com/cloudhead/less.js
[submodule "libraries/CodeMirror2"]
	path = libraries/CodeMirror2
	url = https://github.com/marijnh/CodeMirror2.git
[submodule "libraries/chosen"]
	path = libraries/chosen
	url = https://github.com/harvesthq/chosen.git
